<nav class="w-full fixed top-0 left-0 z-50 
         bg-brand-blue/90 backdrop-blur-lg 
         border-b border-brand-gold-light shadow-lg">

    <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">

        <a routerLink="/home" class="flex items-center gap-3 cursor-pointer">
            <img src="assets/footer/logo.svg" class="h-12" alt="CJI Logo" />
            <span class="font-bold text-xl text-brand-gold-light">
                Centro Jurídico Internacional
            </span>
        </a>

        <div class="flex items-center justify-center gap-6">
            <a routerLink="/home" class="font-medium text-brand-gold-light px-4 py-2 hover:text-white transition">
                Volver al Inicio
            </a>
        </div>

    </div>
</nav>